*{
    margin:0px;
    padding:0px;
}
body{
    margin-top:80px;
    background-size: cover;
}
.details{
    background-color:rgba(37, 65, 178,0.15);			
    backdrop-filter: blur(5px);		
    margin: 20px;	 
    padding:20px;
    text-align: center;
    color:#2541b2;
    border-radius: 15px;
    
}
h1{
    font-size: 30px;
}
.form-check-label{
    color:black;
}